@font-face {
  font-family: "GraphikBold";
  src: url("/assets/fonts/GraphikBold.otf") format("opentype");
}
@font-face {
  font-family: "GraphikThin";
  src: url("/assets/fonts/GraphikThin.otf") format("opentype");
}

@font-face {
  font-family: "Graphik";
  src: url("/assets/fonts/GraphikRegular.otf") format("opentype");
}
